/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

/* Style */
.app {
    display: flex;
}

/* Sidebar begin */
.sidebar {
    width: 150px;
    background-color: #191718;
    color: #aaa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.nav-item {
    border-bottom: 1px solid #5c5c5c;
    padding: 12px 16px;
    font-weight: 700;
}

.nav-item:hover {
    background-color: #5c5c5c;
    color: #fff;
}

.nav-item.active {
    color: #fff;
}

.main {
    flex: 1;
    min-height: 100vh;
    margin-left: 150px;
}

.container {
    padding: 0 129px;
    min-height: calc(100vh - 100px);
}

.logo {
    width: 310px;
    height: 122px;
    margin: 20px auto 30px;
}

.main-content {
    text-align: center;
    padding: 38px 269px;
    background-color: #EFEFEF;
    margin-bottom: 40px;
    
}

.main-content-heading {
    font-size: 18px;
    margin-bottom: 18px;
}

.sub-content {
    display: flex;
}

.sub-content-item {
    text-align: justify;
}

.sub-content-item~.sub-content-item {
    margin-left: 50px;
}

.sub-content-heading {
    font-size: 24px;
    margin-bottom: 18px;
}

.sub-content-desc {
    overflow: auto;
}

.sub-content-img {
    float: left;
    margin-right: 16px;
}

.footer {
    padding: 30px 129px;
    border-top: 1px solid #dedede;
    height: 80px;
}